node_modules
npm-debug.log
.npm
.git
.gitignore
Dockerfile
.dockerignore
.env
coverage
dist
tmp
uploads
temp_uploads
.telegram-mtcute-storage
.telegram-mtcute-storage-shm
.telegram-mtcute-storage-wal
.telegram-test-storage